
// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
//
// // Variables
// @import 'variables';
//
// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
//
// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .4rem;
  // font-size  : .875rem;
  // line-height  : .10;
  border-radius : .2rem;
}
.ticket-details {
  margin-left: 15px;
}
li.nav-item.active {
  background-color: #fafbfc;
  font-weight: bold;
}
