.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  border-radius: 0.2rem;
}

.ticket-details {
  margin-left: 15px;
}

li.nav-item.active {
  background-color: #fafbfc;
  font-weight: bold;
}

